<header>
    <!-- START Custom High Fidelity Header -->
    <!-- Based on: `<HiFi-Developer-Website Repo>/src/shared/html/header.ejs -->
    <div class="hiFiHeader hiFiHeader--withBG">
        <div class="hiFiHeader__inner">
            <a class="hiFiHeader__logo" href="https://highfidelity.com/api/"></a>
            <div class="hiFiHeader__linksContainer displayOnDesktopOrLarger">
                <a href="https://docs.highfidelity.com/">API Docs</a>
                <a href="https://www.highfidelity.com/api/guides/">Guides</a>
                <a href="https://www.highfidelity.com/api-support">Support</a>
                <a href="https://www.highfidelity.com/api-spatial-audio-pricing/">Pricing</a>
                <a href="https://www.highfidelity.com/api/download/">Download</a>
            </div>
            <div class="hiFiHeader__accountContainer displayOnDesktopOrLarger">
                <!-- This content might be replaced by dynamic content depending on whether or not the user is logged-in. -->
                <a class="accountLink" href="https://account.highfidelity.com/dev/account">Account</a>
            </div>
            <div class="hiFiHeader__menu displayOnTabletOrSmaller hiFiHeader__menu--closed">
                <div class="hiFiHeader__menuButton hiFiHeader__menuButton--closed"></div>
                <div class="hiFiHeader__menuContent">
                    <a href="https://docs.highfidelity.com/">API Docs</a>
                    <a href="https://www.highfidelity.com/api/guides/">Guides</a>
                    <a href="https://www.highfidelity.com/api-support/">Support</a>
                    <a href="https://www.highfidelity.com/api-spatial-audio-pricing/">Pricing</a>
                    <a href="https://www.highfidelity.com/api/download/">Download</a>
                    <a class="accountLink" href="https://account.highfidelity.com/dev/account">Account</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END Custom High Fidelity Header -->
</header>

<div class="tsd-page-toolbar">
    <div class="container">
        <div class="table-wrap">
            <div class="table-cell" id="tsd-search" data-index="{{relativeURL "assets/js/search.json"}}"
                data-base="{{relativeURL "./"}}">
                <div class="field">
                    <label for="tsd-search-field" class="tsd-widget search no-caption">Search</label>
                    <input id="tsd-search-field" type="text" aria-label="Search" />
                </div>

                <ul class="results">
                    <li class="state loading">Preparing search index...</li>
                    <li class="state failure">The search index is not available</li>
                </ul>

                <a href="{{relativeURL "index.html"}}" class="title">{{project.name}}</a>
            </div>

            <div class="table-cell" id="tsd-widgets">
                <div id="tsd-filter">
                    <a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a>
                    <div class="tsd-filter-group">
                        <div class="tsd-select" id="tsd-filter-visibility">
                            <span class="tsd-select-label">All</span>
                            <ul class="tsd-select-list">
                                <li data-value="public">Public</li>
                                <li data-value="protected">Public/Protected</li>
                                <li data-value="private" class="selected">All</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <a href="#" class="tsd-widget menu no-caption" data-toggle="menu">Menu</a>
            </div>
        </div>
    </div>
</div>
<div class="tsd-page-title">
    <div class="container">
        {{#if model.parent}} {{! Don't show breadcrumbs on main project page, it is the root page. !}}
        <ul class="tsd-breadcrumb">
            {{#with model}}{{> breadcrumb}}{{/with}}
        </ul>
        {{/if}}
        <h1>{{#compact}}
            {{model.kindString}}&nbsp;
            {{model.name}}
            {{#if model.typeParameters}}
            &lt;
            {{#each model.typeParameters}}
            {{#if @index}},&nbsp;{{/if}}
            {{name}}
            {{/each}}
            &gt;
            {{/if}}
            {{/compact}}</h1>
    </div>
</div>